<div class="span-16 colborder last content" id="questions">
    <h3>New Question</h3>
    <p>
      Create a new question in the {{rusic.title}} topic.
    </p>
    <form action="{{rusic.permalink}}/ideas" method="post">
      <p>
        <label for="idea_title">Question title</label>
        <br />
        <input type="text" name="idea[title]" class="title" id="idea_title" placeholder="Question title">
      </p>
      <p>
        <label for="idea_content">Answer</label>
        <br />
        <textarea name="idea[content]" id="idea_content"></textarea>
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
</div>